# Análisis de datos
numpy==2.3.3
pandas==2.3.3
scipy==1.16.2


# Machine Learning
scikit-learn==1.7.2
torch==2.8.0

# Visualización
matplotlib==3.10.7
seaborn==0.13.2

# Jupyter
jupyter>=1.0.0
ipykernel>=6.0.0

# Utilidades
cesium==0.12.4
FATS==1.3.6
